@font-face {
  font-family: 'Lato', sans-serif;
  src: url('./Lato-LightItalic.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #333;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
}

input {
  font-style: italic;
  border: none;
  padding: 1em;
  font-size: 1em;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  padding: 1em;
  margin: 0;
  list-style: none;
}

.title,
input,
li {
  border-bottom: lightgray solid 1px;
}

label {
  margin-left: 0.5em;
}

.ul-element {
  height: 40vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1em;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}

.title > p {
  margin: 0;
}

.item-element {
  display: flex;
  justify-content: space-between;
}

.btn-add-tasks {
  margin-left: 383px;
  margin-top: 15px;
  position: absolute;
  transform: rotate(90deg);
  cursor: pointer;
}

.fa-arrows-rotate {
  cursor: pointer;
}

.icon-menu-container {
  padding: 0;
  width: min-content;
  margin-right: 7px;
  cursor: move;
}

.checkbox-container {
  display: flex;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.76);
  width: 26rem;
}

.container-todo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn-clear-task {
  border: none;
  background-color: white;
  cursor: pointer;
  align-self: center;
  margin: 1em;
}

.text-input {
  color: #333;
  display: block;
  outline: none;
  justify-self: baseline;
  background: transparent;
  box-shadow: none;
  overflow: auto;
  font-size: 1rem;
  font-style: normal;
  resize: none;
  margin: 0;
  margin-left: 0.5em;
  padding: 0;
  word-wrap: break-word;
  width: 20rem;
}

.hidden {
  display: none;
}

.editing {
  background-color: rgba(0, 128, 128, 0.185);
}
